body{
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color: #fff;
    
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type:none;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
.container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;

}
.header{
    border-bottom: 1px solid #e7e9fc;
}
.header-container{
    display: flex;
    align-items: center;
}
.navigation{
    display: flex;
    align-items: center;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    color: #404bbf;
    margin-right: 76px;
}

.logo-part{
    color: #2e2f42;
}
.nav-list{
    display: flex;
    gap: 40px;
}
.nav-link{
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current{
position: relative;
color: #404BBF;
}
.current::after{
content: "";
position: absolute;
left: 0;
bottom: -1px;
background-color: #404bbf;
border-radius: 2px;
height: 4px;
width: 100%;
}
.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}
.address
{   font-style:normal;
    margin-left: auto;
}
.address-list{
    display: flex;
    gap: 40px;
}
.address-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus{color: #404bbf;}


.effective{
    background: #2e2f42;
    padding: 188px 0;
    background-color: #404BBF cursor/ pointer;
}
.container{
   width: 1158px;
   padding: 0 15px;
   margin: 0 auto;

   }

.title {
    background: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    max-width: 496px;
    margin: 0 auto 48px auto;
    }


.button {

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    background-color: #404BBF;
    cursor: pointer;
    background-color: #4D5AE5;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    height: 56px;
}
.button:hover{
   background-color: #404BBF;
}
.button:focus{
   color: #404bbf;
   background-color: #404BBF;
}
.advantages {
   background-color: #F4F4FD;
   padding: 120px 0;
}
.container{
    width: 1158px;
    margin: 0 auto;
    
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list{
    display: flex;
    gap: 24px;

}
.advantages-item{
    width: calc((100% - 72px) / 4);
    
}
.advantages-title-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-title-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}
.team {
    font-style: normal;
    text-align: center;
    text-transform: capitalize;
    background: #f4f4fd;
    color: #2e2f42;
    padding:120px 0;
}

.team-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
    
}
.team-list{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
    list-style: none;
}

.team-our {
    background-color: #FFFFFF;
    width: calc((100% - 72px) /4 );
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}
.team-img {
    background-color: #FFFFFF;
    background: #f4f4fd;
    display: block;
    max-width: 100%;
    height: auto;
}
.team-box{
    padding: 32px 0;
}
.team-title-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-title-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.portfolio {
    font-style: normal;
    text-align: center;
    text-transform: capitalize;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
  
}
.portfolio-list{
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    
}
.portfolio-item{
    width: calc((100% - 48px) / 3);
}

.img{
    display: block;
}

.portfolio-bloc-text{
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    border-top: none;
}
.portfolio-title-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-title-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
   
}
  

.footer{
    background: #2e2f42;
    padding: 100px 0;
   
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
    text-align: left
}

.logo-studio-footer {
    color: #2e2f42;
    color: #f4f4fd;
    
}

.business-title-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    text-align: left
}
